<div class="d-flex">
  <!-- SIDEBAR -->
  <app-sidebar> </app-sidebar>
  <!-- END SIDEBAR -->

  <div class="container">
    <!-- Buscar -->
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs ...">
      </div>
    </div>
    <hr>
    <!-- Mostrar Info. -->
    <div class="row">
      <div class="col">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. At error ratione quia! Voluptatibus eaque non animi dolorum, placeat consequuntur est, quod doloremque nemo dolorem repellendus harum reprehenderit? Numquam, modi enim.
      </div>
    </div>
  </div>
</div>